<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row" style="padding: 10px 0;">
		<div class="col-sm-6">
		  Funded by an AIP Venture Grant, in partnership with AAPT.
		</div>
		<div class="col-sm-6 text-right">
		  &copy; 2022–2026 DSECOP &nbsp;|&nbsp; <a href="mailto:dsecop@aps.org">dsecop@aps.org</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
